<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Is admin</th>
      <th>Is tutor</th>
      <th>Is student</th>
      <th>Skype</th>
      <th>Times available</th>
      <th>Additional information</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.is_admin %></td>
        <td><%= user.is_tutor %></td>
        <td><%= user.is_student %></td>
        <td><%= user.skype_id %></td>
        <td><%= user.times_available %></td>
        <td><%= user.additional_information %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
